.pagination{
    display: flex;
    justify-content:center;
    align-items:center;
    margin:3em 0;
    color: #fff;
    gap: 1em;
}

.btn_pagination{
    /* margin: 0 1em; */
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.btn_pagination:hover{
    background-color: var(--bg-cart);
    transition: 0.3s;
}

.text_pagination{
    font-size: 1rem;
    font-weight: 100;
}